body {
	background: url(../img/dark_Tire.png) repeat ;
	/*background-size: cover;*/
	color: white;
	font-size: 20px;
	font-family: "Terminal Dosis", sans-serif;
	/*text-shadow: 
		1px 1px 0 transparent,
		2px 2px 0 #101010;*/
	overflow: hidden;
}

h1, p {
	text-align: center;
}